<!doctype html>
<html lang="en" class="h-100">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content= "AS207414 is a educational and research network operated by Ganawa Juanah. For peering information please see our peering policy." />
    <meta name="robots" content= "index, follow">
    <meta name="author" content="Ganawa Juanah">

    <title>Server Error</title>

    <!-- Favicon Icons -->
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">

    <!-- Flag Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.5/css/flag-icon.min.css">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
      .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
      }
    </style>

  </head>

  <body class="d-flex flex-column h-100 col-lg-8 mx-auto">

    <!-- Include Top Nav Header -->
    <header class="d-flex border-bottom p-3 pb-0 align-items-center">

      <a href="/" class="text-dark text-decoration-none">
        <h1 class="fs-4">AS207414</h1>
      </a>

      <ul class="nav align-self-center flex-grow-1">

        <li><a href="/peering.html" class="nav-link ps-3 link-secondary">Peering Policy</a></li>
        <li><a href="#" class="nav-link disabled ps-0 link-secondary">Looking Glass</a></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle ps-0 link-dark" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownMenu2">
            <li><a class="dropdown-item disabled" href="#">Public NTP</a></li>
            <li><a class="dropdown-item disabled" href="#">Public DNS</a></li>
          </ul>
        </li>
      </ul>

      <div class="align-self-center">
        <ul class="nav">
          <li><a href="https://www.peeringdb.com/net/22236" class="nav-link px-2 link-secondary">PeeringDB</a></li>
          <li><a href="https://bgp.he.net/AS207414" class="nav-link px-2 link-secondary">BGP.HE</a></li>
        </ul>
      </div>

  </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0 pb-5">

      <h1 class="mt-5">An unexpected error has occurred <small class="text-muted">Juanah.cloud</small></h1>
      <p class="lead"> The administrator has been notified. Sorry for the inconvenience!
          Back to <a href="/"> home page </a></p>
      <hr/>

    </main>

    <!-- Include Top Nav Header -->
  <footer class="footer mt-auto border-top pt-2 pb-3">
    <div class="container">
      <span class="text-muted">© 2020 AS207414.net All rights reserved.</span>
    </div>
  </footer>


  </body>

</html>
