{{ define "title"}} AS207414.net {{end}}
{{ define "content" }}


<div class="container d-flex flex-column gap-5">

    <div>

        <h1 class="mt-5">Juanah.Cloud <small class="text-muted">AS207414</small></h1>
        <p class="lead mb-0">The main purpose for this network is learning and research. I hope to maintain an open peering
            policy with anyone interested. Be patient with me, and I promise I will be patient with you.</p>

    </div>

    <div>
        <h4> Peering Policy: </h4>

        <p> Open Peering Policy. We can connect via any IXP sites I'm located at and eventually over a
            tunnel (GRE/SIT). </p>

        <p> Please email <a href="mailto:noc@juanah.cloud"> noc@juanah.cloud </a> if you
            agree to the terms below and wish to peer:</p>

        <ul class="list-unstyled">
            <li> Peers may only send traffic to destinations announced by AS207414. </li>
            <li> Peers may only send traffic originating from their own networks. </li>
            <li> Peers are not allowed to point static routes towards AS207414. </li>
        </ul>

    </div>

</div>

{{ end }}